:root {
  /* bg gradients */
--header-bg: linear-gradient(276deg, #2E1746 3.19%, #2E225F 100%);
--small-form-color: linear-gradient(360deg, rgba(83, 61, 186, 0.70) 0%, rgba(80, 48, 154, 0.70) 35.94%, rgba(106, 70, 165, 0.52) 61.04%, rgba(133, 93, 175, 0.13) 100%);

/* shadows */
--header-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25), 0px -3px 2px 0px rgba(0, 0, 0, 0.10) inset;
/* --small-form-shadow: box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25); */
--form-shadow: box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);

--button-shadow: box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.20);

/* button gradient */
  --button-gradient: linear-gradient(
    167deg,
    #ffc727 0%,
    #9e40ba 61.46%,
    #7000ff 90.54%
  );

  /* colors */
  --white: #FBFBFB;
  --yellow: #ffb627;
  --violet: #734AEF;
  --balance-bg: rgba(82, 59, 126, 0.60);
  --transaction-head-bg: rgba(82, 59, 126, 0.60);
  --dashboard-out-text: #FF868D;
  --dashboard-in-text: #ffb627;
  --white-button-text: #623F8B;
  --white-button-bg: #fcfcfc;
  --backdrop-background: rgba(34, 13, 91, 0.23);
  --form-color: rgba(255, 255, 255, 0.10);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-60: rgba(255, 255, 255, 0.6);

  /* blurs */
--form-backdrop-filter: blur(50px);
--backdrop-filter: blur(3.5px);
}
