.income {
  color: rgba(255, 182, 39, 1);
}
.expense {
  color: rgba(255, 134, 141, 1);
}
.text {
  color: rgba(255, 255, 255, 0.6);
}

.btnSwitch {
  position: absolute;
  left: 40px;
  bottom: -2px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  font-size: 40px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.btnSwitchPlus {
    background-color: rgba(255, 182, 39, 1);
  }
  
  .btnSwitchMinus {
    background-color: rgba(255, 134, 141, 1);
  }

  .switchInput {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 30px;
    display: block;
  }
  
  input:checked + .slider {
    background-color: #ffffff;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  
  input:checked + .slider > .btnSwitch {
    -webkit-transform: translateX(44px);
    -ms-transform: translateX(44px);
    transform: translateX(-44px);
  }


 