@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  /* font-family: 'PoppinsRegular' -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif; */
  font-family: 'PoppinsRegular', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #fbfbfb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(86, 43, 134);
  background: linear-gradient(
    338deg,
    rgba(86, 43, 134, 1) 12%,
    rgba(37, 21, 86, 1) 54%,
    rgba(86, 42, 139, 1) 90%
  );
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
}
